* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(112.5% + 0.5vw);
  background-color: #b3aba0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
ul, ol,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

/* header                               */

header {
  height: 100vh;
  margin-bottom: 5vh;
  background-image: url("top_tripmemory.png");
  background-size: cover;
}

/* main header list                         */

.header-wrapper {
  display: none;
}
.header img{
  display: none;
}

/* slick */

.slick-wrapper {
  height: 40vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.slick img {
  max-width: 100%;
  height: auto;
}
.slick-content {
  position: relative;
}
.slick p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%) translateY(-50%);
  -webkit- transform: translateX(-50%) translateY(-50%);
}
